boto3==1.15.16
botocore==1.18.16
click==7.1.2
Flask==1.1.2
img2pdf==0.4.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
lxml==4.5.2
MarkupSafe==1.1.1
pikepdf==1.19.3
Pillow==7.2.0
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
urllib3==1.25.10
Werkzeug==1.0.1
cffi==1.14.3
cryptography==3.1.1
pycparser==2.20
six==1.15.0
